@{
    ViewData["Title"] = "Home Page";
}

<br />
<a href="/Movies" class="btn btn-success"><h1>Let's go to the movies</h1></a>
<br />
<br />
<a href="/Reviews" class="btn btn-primary"><h1>Read the reviews</h1></a>